<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {# TODO: add base url config  #}
    <link rel="stylesheet" href="/xmark.css">
    <script src="/xmark.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {# https://fonts.google.com/specimen/Source+Code+Pro?selection.family=Averia+Serif+Libre:wght@700|Spectral:ital,wght@0,400;0,700;1,400;1,700|Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&category=Monospace&sidebar.open=true #}
    {# <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> #}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&amp;family=Spectral:ital,wght@0,400;0,700;1,400;1,700&amp;family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
</head>

<body>

    {# https://gridbyexample.com/examples/code/layout9.html #}
    {# https://stackoverflow.com/a/37755176 #}
    <div class="wrapper">

        <div class="toc bigtoc">
            {{{ ltoc }}}
        </div>

        <div class="content">{{{ content }}}</div>

        <div class="toc smalltoc">
            {% if rhstitle %}
            <h1>{{{ rhstitle }}}</h1>
            {% endif %}
            {{{ rtoc }}}
        </div>

    </div>
</body>

</html>