/* This Source Code Form is subject to the terms of the Mozilla Public License,
v. 2.0. If a copy of the MPL was not distributed with this file, You can
obtain one at http://mozilla.org/MPL/2.0/. */

// TODO: Review colors
$text_color: #1a1a1a;
$heading_color: #000;
$pre_backgroud: #eee;
$active_color: #e69f;

@import "highlight.scss";

body {
  color: $text_color;
  font-size: 19px;

  font-family: "Spectral", Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  margin: 0;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Averia Serif Libre", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $heading_color;
}

.content .autolink:link,
.content .autolink:visited {
  text-decoration: none;
}

code,
pre {
  background: $pre_backgroud;
}

code {
  padding: 2px 4px;
  font-family: monospace;
}

pre {
  padding: 1em;
  border-left: $text_color 2px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-x: auto;
  font-size: 85%;
}

blockquote {
  border-left: 2px dotted $heading_color;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Zilla Slab";
}

a {
  color: #1a1a1a;
  text-decoration: underline;
}

img {
  max-width: 100%;
}
/* 
td > p {
  margin: 0;
} */

/* https://css-tricks.com/table-borders-inside/ */
table {
  border-collapse: collapse;
  border-style: hidden;

  td,
  th {
    border: 1px solid $text_color;
    padding: 3px 1ch;
  }
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}

.toc {
  // Scrolling
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  // Aestetics
  font-size: 0.85em;
  ol {
    list-style: none;
    padding-left: 20px;
    line-height: 1.5em;
  }
  li {
    a {
      text-decoration: none;
    }
    a.active {
      color: $active_color;
    }
    a:hover {
      color: $active_color;
      transition: none;
    }
  }
}

.smalltoc li a {
  transition: color 0.2s ease-out;
}

.bigtoc > h1 {
  padding-left: 20px;
}

// TODO: Weird flex if page not full
// trpl/ch06-00-enums.html

/* 
 * Layout
 * https://www.joshwcomeau.com/css/full-bleed/
 *
 *
 * +------+-------------------------------+------+
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * | LTOC |    Main content               | RTOC |
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * |      |                               |      |
 * +------+-------------------------------+------+
 *         \                             /
 *          \                           /
 *           +-----+-------------+-----+
 *           |     |             |     |
 *           |     |             |     |
 *           |     |             |     |
 *           |     |             |     |
 *           |Full |             |Full |
 *           |blead| Text        |blead|
 *           |for  |             |for  |
 *           |code |             |code |
 *           |     |             |     |
 *           |     |             |     |
 *           +-----+-------------+-----+
 * 
 *
 */
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 2em)) 1fr;
  column-gap: 1em;
}

.bigtoc {
  grid-column: 1;
}

.content {
  // TODO: Seperate padding stuff and grid stuff
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr min(60ch, 100%) 1fr;
  grid-column: 2;
  row-gap: 19px;
  > * {
    grid-column: 2;
    // https://www.joshwcomeau.com/css/rules-of-margin-collapse/#flow-layout-only
    margin: 0;
  }

  > pre {
    grid-column: 1/4;
  }
}

.smalltoc {
  grid-column: 3;
}
